<!DOCTYPE html>
<html>
<head>
    <title>Music Generation App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/midijs/2.0.2/midi.min.js"></script>
    <style>
        body {
            background-color: #f8f9fa;
            padding: 20px;
        }
        .container {
            max-width: 600px;
            margin: 0 auto;
        }
        .btn-generate {
            margin-top: 10px;
        }
        .play-link {
            cursor: pointer;
            color: #007bff;
        }
    </style>
</head>
<body>
    <div class="container text-center">
        <h1 class="mt-5">Music Generation App</h1>
        <form method="POST" action="/generate">
            <button type="submit" class="btn btn-primary btn-lg btn-generate mt-3">Generate Music</button>
        </form>
        {% if generated_midi_path %}
        <h4 class="mt-5">Music Generated...</h4>
        {% endif %}
    </div>

</body>
</html>
